@import '~app/mixins';

.years {
  pointer-events: none;
  display: flex;
  gap: 80px;
  font-weight: 700;
  font-size: 200px;
  line-height: 80%;
  letter-spacing: -0.02em;

  @include mobile {
    font-size: 56px;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
  }

  .blue {
    color: #5d5fef;
  }

  .pink {
    color: #ef5da8;
  }
}
